<h1>Progres Penyelesaian untuk {{ course.name }}</h1>
<p>
  Anda telah menyelesaikan {{ completed_count }} dari {{ total_content }} konten
  ({{ completion_percentage }}%).
</p>
<ul>
  {% for content in completed_content %}
  <li>
    {{ content.content_name }}
    <form
      method="post"
      action="{% url 'delete_completion' content.content_id %}"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Hapus</button>
    </form>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'certificate' course.id %}">Cek Sertifikat</a>
